/* RESET BÁSICO */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
}

.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 60px;
    width: auto;
}


/* NAV */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 0 0;
    padding: 0;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
}

/* MAIN */
main {
    padding: 20px;
    flex: 1;
    margin-left: 15vh;
    margin-right: 15vh;
}

p {
    text-align: justify;
}
/* IMAGEM */
img{
    width: 50%;
    border-radius: 8px;
}
/* FIGURES */
figure {
    margin: 10px;
    border-radius: 10px;
}
figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px; /* LIMITE PARA NÃO FICAR GIGANTE */
    object-fit: contain;
    border-radius: 8px;
}
/* TÉCNICAS */
.tecnicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tecnicas figure {
    width: 45%;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

/* TABELAS */
.tabelinha {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

table {
    width: 37%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: #fff;
}
/* NOTICIAS */
.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noticias figure {
    width: 90%; 
    background: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}
.noticias figure img{
    height: 200px;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
h1, h2{
    background-color: #007bff;
    border-radius: 8px;
}
/* RESPONSIVO */
@media (max-width: 1000px) {
    main{
        margin: 0px;
    }
}
@media (max-width: 768px) {
    main{
        margin: 0px;
    }
    .tecnicas figure {
        width: 100%;
    }

    nav ul {
        gap: 10px;
    }

    p {
        text-align: left;
    }
}
